<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"> 
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              required
              class="form-control">

          </div>
          <span *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched">
            <span *ngIf="signupForm.get('userData.username').errors['required']">Please enter username</span>
            <span *ngIf="signupForm.get('userData.username').errors['nameIsForbidden']">Name is invalid</span>
          </span>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"signupFormsignupForm
              formControlName="email"
              required
              class="form-control">
          </div>
          <span *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched">
            <div *ngIf="signupForm.get('userData.email').errors">
              <span *ngIf="signupForm.get('userData.email').errors['emailIsForbidden']">Email not valid</span>
              <span *ngIf="signupForm.get('userData.email').errors['required']">Email is required</span>
              <span *ngIf="signupForm.get('userData.email').errors['email']">Format Email not valid</span>
            </div>


          </span>
          
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              formControlName="gender"
              [value]="gender">{{ gender }}
          </label>
        </div>

        <div>
          <h4>Your Hobbies</h4>
          <div formArrayName="hobbies">
              <button class="btn btn-default" 
                  type="button" (click)="onAddHoby()">
                Add Hoby
    
              </button>
              <div 
                class="form-group"
                *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index">
                <input type="text" class="form-control" [formControlName]="i">
              </div>
          </div>
       
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
